body {
  background-color: #C192D1;
}

.navbar{
    background-color: #ECECEC;
    margin-bottom: 2rem;
}
.navbar-logo{
    width: 5vw;
    height: auto;
    margin-bottom: 0.5rem;
}

.hero{
  height: 30vh;

}

.form{
  height: 100vh;
}

.footer{
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  display: flex; 
  flex-direction: row;
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
}

.img-oportunidade{
  height: 20rem;
  margin-right: 2rem;
  object-fit: contain;
  width: 20rem;
}

/* contato */
.contato-box {
  display: flex; 
  flex-direction: column;
  
}

.mulher-img{
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  margin-right: 2rem;
}

.mulher-container{
  display: flex;
  flex-direction: row;
}

.mulher-box{
  display: flex;
  flex-direction: column;
}

.img {
  
  width: 20%;         
  height: auto;       
  display: block;     
  margin: 0 2rem;  

}

.img-contato {
  width: 20%;         
  height: 20rem;       
  object-fit: cover;
  border-radius: 20%;
  display: block;     
  margin: 0 2rem;  
}

.link-contato{
  color: cadetblue;
  text-decoration: underline;
}

/* detalhes */
.detalhes-box{
  display: flex;
  flex-direction: row;
  width: 80vw;
}

.detalhes-img {
  margin-right: 2rem;
  height: 20rem;
  width: auto;
}

.detalhes-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botao-detalhe{
  margin-top: 2rem;
}

/* sobre */

.hero-sobre{
  width: 100vw;
  position: absolute;
  z-index: -1;

}

/* principal */


#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: 0;  
}


.conteudo {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100vh; 
  z-index: 1; 
  color: white;  
  text-align: center;
 
}


.conteudo p{
   margin-bottom: 20px;

}


h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  background: rgba(255,255,255,0.1);
  border: 1px solid #fff;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  backdrop-filter: blur(3px);
  
}

.landingpage-entrar{
  display: fixed;
  position: absolute;
  top: 50vh;
  left: 25vw;
}

@media (max-width: 600px) {
  
}

