

/* Corpo */ 

body {
      margin: 0;
      height: 100vh;
      background: linear-gradient(90deg, #f6feff, #ddf0ff, #f6e7ff);
      background-size: 300% 300%;
      animation: gradientAnimation 6s infinite alternate;
}


@keyframes gradientAnimation {
      0% {
        background-position: 0% 50%;
      }
      100% {
        background-position: 100% 50%;
      }
    }




 /* Cabeça */

header {

padding: 26px  20px;


}



/* Barra de navegação */

.navbar{
    background-color: #C192D1;
    
}


.navbar-logo{
 
    width: 5vw;
    height: auto;
}


  .navbar-item {

  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:aliceblue;
  font-size: 25px;
  cursor: pointer;



  }








