<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Biografia - Amanda Yuna</title>
  <link rel="stylesheet" href="estilo.css">
</head>
<body>

  <!-- SEÇÃO COM VÍDEO E TÍTULO -->
  <section class="hero">
    <video autoplay muted loop class="background-video">
      <source src="videoplayback.mp4" type="video/mp4">
      Seu navegador não suporta vídeos HTML5.
    </video>
    <div class="hero-text">
      <h1>Biografia - Amanda Yuna</h1>
    </div>
  </section>

  <!-- SEÇÃO DE CONTEÚDO NORMAL -->
  <section class="content">
    <img src="Foto_perfil.png" alt="Amanda Yuna" class="foto-perfil">

    <h2>Amanda Yuna</h2>

    <h3>14 anos</h3>
    <p>
       Estudante de programação, aluna olímpica, escritora e leitora. Responsável pelo design e estilo das páginas do projeto<br>
      
    </p>
    
    
    
    <h2>Gabriel Masterson</h2>
    <h3>16 anos</h3>
    <p>
      Estudante de programação. Responsável pela estrutura do site e funcionalidades dinâmicas.<br>
      
    </p>

    <h2>Gabriel Tesolin</h2>
    <h3>14 anos</h3>
    <p>
      Estudante de programação, aluno olímpico, escritor e leitor. Responsável pelo material visual e divulgação comunitária.<br>
      
    </p>
     

    <h2>Isaque Moraes</h2>
    <h3>14 anos</h3>
    <p>
      Estudante de programação, aluno olímpico. Responsável pelo material didático e científico.<br>
      
    </p>


    <h2>Marina Maia</h2>
    <h3>14 anos</h3>
    <p>
      Estudante de programação, aluna olímpico, escritor e leitor. Responsável pelo material visual e divulgação comunitária.<br>
      
    </p>


    <h3>My Hobbies & Interests</h3>
    <ul>
      <li>Ler livros de Filosofia, Literatura Clássica, Romances nas áreas STEM...</li>
      <li>Fazer skins em jogos de RPG, RP e criar designs web;</li>
      <li>Pintar, desenhar e dançar.</li>
    </ul>

    <h3>My Goals For Web Development Life</h3>
    <ol>
      <li>Evoluir minha dominância de HTML e CSS;</li>
      <li>Aprender a criar sites mais modernos;</li>
      <li>Aprimorar meus conhecimentos de design visual.</li>
    </ol>
  </section>

  <!-- RODAPÉ -->
  <footer>
    <h3>Connect With Me</h3>
    <p>You can find me on <a href="#">GitHub</a><br>
    Also, visit my <a href="#">Neps Profile</a><br>
    Or email me: <a href="mailto:amandayunasouzalima@gmail.com">amandayunasouzalima@gmail.com</a></p>
    <p>© 2025 Amanda Y. S. L. All rights reserved.</p>
  </footer>

</body>
</html>
