<!DOCTYPE html>
<html lang="pt-BR">





<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Nós</title>
  <link rel="stylesheet" href="estilo-sn.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech&family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">

</head>



<body>

  <!-- SEÇÃO COM VÍDEO E TÍTULO -->
  <section class="hero">
    <video autoplay muted loop class="background-video">
      <source src="videoplayback.mp4" type="video/mp4">
      Seu navegador não suporta vídeos HTML5.
    </video>
    <div class="hero-text">
      <h1>Sobre Nós</h1>
    </div>
  </section>

  <!-- SEÇÃO DE CONTEÚDO NORMAL -->
  <section class="content">
    
    
    <img src="Amanda.jpg" alt="Amanda Yuna Picture" class="foto-perfil">
    <h2>Amanda Yuna</h2>
    <h3>14 anos</h3>
    <p>
       Estudante de programação, aluna olímpica, escritora, leitora e aluna Ismart. Responsável pelo design e estilo das páginas do projeto.<br>
      
    </p>
    
    
    <img src="GM.jpg" alt="Gabriel Masterson Picture" class="foto-perfil">
    <h2>Gabriel Masterson</h2>
    <h3>16 anos</h3>
    <p>
      Estudante de programação. Responsável pela estrutura do site e funcionalidades dinâmicas.<br>
      
    </p>


    <img src="GT.jpg" alt="Gabriel Tesolin" class="foto-perfil">
    <h2>Gabriel Tesolin</h2>
    <h3>14 anos</h3>
    <p>
      Estudante de programação, aluno olímpico, escritor e leitor. Responsável pelo material visual e divulgação comunitária.<br>
      
    </p>
     
    
    
    <img src="Isaque.jpg" alt="Isaque Moraes Picture" class="foto-perfil">
    <h2>Isaque Moraes</h2>
    <h3>14 anos</h3>
    <p>
      Estudante de programação, aluno olímpico. Responsável pelo material didático e científico.<br>
      
    </p>

    <img src="Marina.jpg" alt="Marina Maia Picture" class="foto-perfil">
    <h2>Marina Maia</h2>
    <h3>14 anos</h3>
    <p>
      Estudante de programação, aluna olímpicoa, escritora, leitora e aluna do Instituto Apontar. Responsável pelo material visual e divulgação comunitária.<br>
      
    </p>


    
    
  </section>

  <!-- RODAPÉ -->
  <footer>
    <h3>Connect With Us</h3>
    <h1>You can find us on our GitHub Profiles: </h1>
    
    
    
    <p>
    <ul>
      <li> <a href="https://github.com/BeeyWasser">Amanda Yuna</a></li>
      <li> <a href="https://github.com/GabrieldotMasterson">Gabriel Masterson</a></li>
      <li> <a href="https://github.com/MarinaMaiaV">Marina Maia</a></li>
      <li> <a href="https://github.com/IsaqueJonatas">Isaque Morais</a></li>
    </ul>
   </p>
    
    
    <h2>
    Or send a email for us: <a href="mailto:amandayunasouzalima@gmail.com">clicking here</a>
    </h2>


    <h5> © 2025 Conect.She - All rights reserved. </h5>
  </footer>

</body>
</html>
