{% extends 'layout.html' %}

{% block title %}Conecta.Elas{% endblock %}

{% block content %}

<section class="section section-contato">

    <div class="card">
        <img class="img-contato" src="static\assets\images\masterson.jfif" alt="">
        <div class="contato-box">
        <h1 class="title">Gabriel Masterson Paiva Nascimento</h1>
        <a class="link-contato" href="https://wa.me/985289925">Whatsapp</a>
        </div>
    </div>
    <div class="card ">
        <img class="img-contato" src="static\assets\images\tesolin.jfif" alt="">
        <div class="contato-box">
        <h1 class="title">Gabriel Tesolin de Siqueira</h1>
        <a class="link-contato" href="https://wa.me/11969524958">Whatsapp</a>
</div>
</div>
<div class="card ">
        <img class="img-contato" src="static\assets\images\yuna.jfif" alt="">
        <div class="contato-box">
        <h1 class="title">Amanda Yuna Souza lima</h1>
        <a class="link-contato" href="https://wa.me/11985436741">Whatsapp</a>
        </div>
    </div>
<div class="card ">
        <img class="img-contato" src="static\assets\images\isaque.jfif" alt="">
        <div class="contato-box">
        <h1 class="title">Isaque Moraes</h1>
        <a class="link-contato" href="https://wa.me/61994558356">Whatsapp</a>
        </div>
</div>
<div class="card ">
        <img class="img-contato" src="static\assets\images\maia.jfif" alt="">
        <div class="contato-box">
        <h1 class="title">Marina Maia Vieira</h1>
        <a class="link-contato" href="https://wa.me/21974714107">Whatsapp</a>
        </div>
</div>

</section>

{% endblock %}