{% extends 'layout.html' %}

{% block title %}My Movie Library{% endblock %}

{% block content %}

<section class="section hero" style="background-image: url(assets/images/HERO.jfif); background-repeat: no-repeat; background-size: contain; height: 30vh; width: 100vw;" >
        <div class="box">
            <h1 class="title">Construindo Esperança, Realizando Sonhos</h1>
            <p class="text">Criando iniciativas que transformam comunidades e promovem igualdade para todos.</p>
        </div>
        
        <button>EXPLORE</button>

</section>

{% endblock %}