{% extends 'layout.html' %}

{% block title %}Conecta.Elas{% endblock %}

{% block content %}

  <section class="section">
    
    <div class="box">
    <img class="img-contato" src="{{ url_for('static', filename='assets/images/yuna.jfif') }}" alt="Amanda Yuna Picture" class="foto-perfil">
    <h2>Amanda Yuna</h2>
    <h3>14 anos</h3>
    <p>
       Estudante de programação, aluna olímpica, escritora, leitora e aluna Ismart. Responsável pelo design e estilo das páginas do projeto.<br>
      
    </p>
    </div>
    
    <div class="box">
    <img class="img-contato" src="{{ url_for('static', filename='assets/images/masterson.jfif') }}" alt="Gabriel Masterson Picture" class="foto-perfil">
    <h2>Gabriel Masterson</h2>
    <h3>16 anos</h3>
    <p>
      Estudante de programação. Responsável pela estrutura do site e funcionalidades dinâmicas.<br>
      
    </p>
    </div>

    <div class="box">
    <img class="img-contato" src="{{ url_for('static', filename='assets/images/tesolin.jfif') }}" alt="Gabriel Tesolin" class="foto-perfil">
    <h2>Gabriel Tesolin</h2>
    <h3>14 anos</h3>
    <p>
      Estudante de programação, aluno olímpico, escritor e leitor. Responsável pelo material visual e divulgação comunitária.<br>
      
    </p>
    </div>
     
    
    <div class="box">
    <img class="img-contato" src="{{ url_for('static', filename='assets/images/isaque.jfif') }}" alt="Isaque Moraes Picture" class="foto-perfil">
    <h2>Isaque Moraes</h2>
    <h3>14 anos</h3>
    <p>
      Estudante de programação, aluno olímpico. Responsável pelo material didático e científico.<br>
      
    </p>
    </div>

    <div class="box">
    <img class="img-contato" src="{{ url_for('static', filename='assets/images/maia.jfif') }}" alt="Marina Maia Picture" class="foto-perfil">
    <h2>Marina Maia</h2>
    <h3>14 anos</h3>
    <p>
      Estudante de programação, aluna olímpicoa, escritora, leitora e aluna do Instituto Apontar. Responsável pelo material visual e divulgação comunitária.<br>
      
    </p>
    </div>


    
    
  </section>
{% endblock %}